.button {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  color: #ffff;
  width: 12rem;
  border: none;
  border-radius: 25px;
  padding: 1.5rem;
  margin: 1rem;
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(68, 68, 69, 0.187);
}
