.card {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}
.cardContent {
  display: grid;
  grid-template: 50% 20% 30%;
}
.card img {
  grid-area: ;
}
.projectInfo {
  grid-area: ;
}
.projectInfo button {
  padding: 0;
}
