.skills {
  margin-top: 0px;
  background-color: #232946;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .icons {
  margin: a;
} */
svg:nth-child(even) {
  fill: #6688ec;
  height: 4rem;
  width: 4rem;
  padding: 1rem;
}

svg:nth-child(odd) {
  fill: #1c8da6;
  height: 4rem;
  width: 4rem;
  padding: 1rem;
}
