.wrapper {
  background-color: #b8c1ec;
  display: flex;
}
.home {
  display: grid;
  grid-template-columns: 20% 20% 60%;
  grid-template-rows: 50% 50%;

  color: #232946;
}
.homeHeading {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
}

.homeHeading h1 {
  padding: 0;
  margin: 0px;
  font-size: 3rem;
}
.jobTitle h1 {
  font-weight: 100;
}

.home img {
  grid-column-start: 3;
  grid-column-end: 4;
}

.buttons {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
}
