.nav {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  z-index: 10;
  background-color: #b8c1ec;
}
.logoWrapper {
  display: flex;
  justify-content: flex-start;
}

.container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.navLogo {
  height: 50px;
  width: 45px;
  padding: 0px;
}

.navItem {
  color: #232946;
  margin-left: 2rem;
  font-weight: bold;
}
.navItem:hover {
  border-bottom: 0.4rem solid #232946;
}
