.aboutMe {
  margin-top: 0px;
  background-color: #232946;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section {
  display: grid;
  grid-template-columns: 30% auto;
  padding: 1rem;
}

h3 {
  margin: 0 2rem 2rem 0;
}

main {
  margin: 0 5rem 0 8rem;
}

/* https://css-tricks.com/css-grid-replace-flexbox/ 
wrap the whole thing in a flex box 
 then have a grid w
*/
