.aboutMe {
  margin-top: 0px;
  background-color: #232946;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section {
  display: grid;
  grid-template-columns: 30% auto;
  padding: 1rem;
}

h3 {
  margin: 0 1rem 1rem 0;
}

main {
  margin: 0 5rem 0 8rem;
}
